.step--wrapper {
  color: #007bff;
  border: 3px solid #007bff;
  border-radius: .5rem;
  display: inline-flex;
  padding: 2rem 5rem 1rem;
  margin: 0 auto;
}

.step--wrapper .step--content .step--title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .125rem;
}

.step--wrapper .step--content .step {
  font-size: 8rem;
  font-weight: 600;
}