.App {

}

.App-logo {
}

.App-header {

}

.App-link {

}

/* Brand Styles */
.brand-container .navbar {
}

.brand-container .navbar .brand-title {
  font-size: 1.5rem;
  padding-left: .25rem;
}


/* Navigation Styles */
.topnav,
.navigation-container {
  max-width: 100%;
  background: #1D4E89;
}

.navigation-container .navbar {
  padding: 1.5rem .5rem;
}
