.hero--wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 1rem;
}

.hero--wrapper .hero-title--overlay {
  position: absolute;
  top: 10%;
  left: 10%;
  min-width: 80%;
  padding: 2rem 3rem;
  color: #fff;
  background: rgba(0,0,0,.2);
  text-shadow: 2px 2px 4px rgba(0,0,0,.4);
}

.hero--wrapper .hero-title--overlay::after {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 10px solid gold;
  left: 0;
}

@media screen and (min-width: 768px) {
  .hero--wrapper .hero-title--overlay {
    min-width: 40%;
    max-width: 40%;
    top: 25%;
  }

  .hero--wrapper .hero-title--overlay::after {
    left: 10%;
  }
}